[submodule "rc_dynamics_api/opt/cpr"]
	path = rc_dynamics_api/opt/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "rc_dynamics_api/opt/protobuf"]
	path = rc_dynamics_api/opt/protobuf
	url = https://github.com/google/protobuf.git
